<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | raw }} - {{ domain }}</title>
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/drutiny/drutiny/2.2.x/assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/drutiny/drutiny/2.2.x/assets/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://raw.githubusercontent.com/drutiny/drutiny/2.2.x/assets/manifest.json">
    <link rel="mask-icon" href="https://raw.githubusercontent.com/drutiny/drutiny/2.2.x/assets/safari-pinned-tab.svg" color="#00a9e3">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">
    <style>
        body {
            margin-top: 45px;
            padding-bottom: 20px;
        }
        table {
            font-size: 14px;
            width: 100%;
        }
        td, th {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 1%;
        }
        .page-header {
            border-bottom: none;
        }
        .alert-success, .alert-danger {
            background-color: transparent;
            color: #333333;
        }
        .navbar-pad {
            margin-bottom: -45px;
            display:block;
        }
        .navbar-pad + h2,
        .navbar-pad + h3,
        .navbar-pad + h4 {
            padding-top: 50px;
        }
        .dropdown-submenu {
            position: relative;
        }
        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }
        .dropdown-submenu:hover>.dropdown-menu {
            display: block;
        }
        .dropdown-submenu>a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover>a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left>.dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
        @page
        {
            size: auto;   /* auto is the initial value */

            /* this affects the margin in the printer settings */
            margin: 25mm 15mm 5mm 15mm;
        }
        @media print {
            .result-group, section {
                page-break-inside: avoid;
            }
            .display-filters {
                display: none !important;
            }
            html body {
                margin:0;
                padding:0;
                font-size: 10pt;
                margin-bottom:10mm;
            }
            a[href^="/"]:after {
                content: " (" attr(href) ") ";
            }
        }
        @media only screen {
            #table_of_contents {
                display:none;
            }
        }
    </style>
</head>
<body data-spy="scroll" data-target="#navbar">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="https://raw.githubusercontent.com/govCMS/GovCMS/2.x-develop/logo.png" alt="Drutiny logo" style="float: left; width: 22px; margin-right: 10px;"/>
                {{ title | raw }}
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {{ navbar | raw }}
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<a id="top"></a>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <p>{{ "now"|date("H:i - F jS, Y") }}</p>
        <h1>{{ title }}</h1>
        <p>{{ summary | raw }}</p>
    </div>
</div>

<div class="container">
    <div class="row">
        {{ description | raw }}
    </div>
</div>
{{ content | raw }}

<div class="container">
    <footer>
        <p>&copy; GovCMS {{ 'now' | date('Y') }} | {{ "now"|date("F jS, Y") }}</p>
    </footer>
</div>

{% include 'script_footer.html.twig' %}

</body>
</html>
